--extra-index-url https://termux-user-repository.github.io/pypi/

fastapi>=0.100
uvicorn>=0.23
httpx>=0.24
beautifulsoup4>=4.12

# Dev dependencies
pytest>=7.0
pytest-asyncio>=0.21

pydantic-core==2.41.5
pydantic==2.12.5

# TTS
edge-tts>=6.0

pypdf>=4.0
python-multipart>=0.0.6
